<div class= "container mt-4">
<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, width: 400, crop: :fill %>')">
    <p><%= @list.name %></p>
  </div>
<% end %>
<p><%= link_to "Back to All Movie List", lists_path, class: "btn btn-secondary mt-4" %></p>
<p><%= link_to "Add a movie", new_list_bookmark_path(@list) %></p>



<%# Ajouter un bouton Add a movie qui redirige vers le path new_bookmark %>
  <%# Afficher tous les movies (sauf ceux qui sont déjà bookmarkés) %>
  <%# permettre de bookmarker ce movie et de mettre un commentaire %>
